.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  padding-top: 150px;
}

.about h1 {
  margin-bottom: 35px;
  font-size: 45px;
}
.about p {
  width: 65%;
  font-size: 25px;
}
