.nav {
  display: flex;
  background-color: rgba(20, 28, 39, 255);
  list-style: none;
  display: flex;
  height: 50px;
  width: 100%;
  color: white;
  align-items: center;
  position: fixed;
  border-bottom: 3px solid black;
}
.linkList {
  display: flex;
}
.link,
.link a {
  text-decoration: none;
  color: white;
  padding-left: 15%;
  font-size: 100%;
}
ul {
  padding: 0;
}
.name {
  font-size: 100%;
  margin-left: 5%;
  display: flex;
  margin-right: 18%;
  margin-left: 20%;
}
.second_name {
  color: rgb(83, 223, 163);
}
.link :hover {
  color: rgb(83, 223, 163);
}
