.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 100px;
  color: white;
  background-color: black;
}
.skills h1 {
  margin-bottom: 35px;
  font-size: 45px;
}
.skills h2 {
  color: rgb(83, 223, 163);
}
img {
  padding-left: 15px;
  width: 100px;
  margin-left: 5px;
  margin-top: 15PX;
}
.techSkills {
  /* background-color: beige; */
  /* height: 20rem; */
  width: 35%;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
